.row {
    display: flex;
}

.col {
    flex: 1 0 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex: 0 0 calc($i / 12 * 100%);
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

@for $i from 1 through 12 {
    .gap-#{$i} {
        gap: calc($i / 4 * 16px);
    }
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}
