@use "../../utilities/admin/colors" as *;

.badge {
    display: inline-flex;
    min-width: 24px;
    min-height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 0 6px;
    font-weight: 700;
    font-size: 12px;

    &.badge-red {
        color: $red !important;
        background-color: rgba($color: $red, $alpha: 0.16);
    }

    &.badge-yellow {
        color: $yellow !important;
        background-color: rgba($color: $yellow, $alpha: 0.16);
    }

    &.badge-orange {
        color: $orange !important;
        background-color: rgba($color: $orange, $alpha: 0.16);
    }

    &.badge-green {
        color: $green !important;
        background-color: rgba($color: $green, $alpha: 0.16);
    }

    &.badge-blue {
        color: $blue !important;
        background-color: rgba($color: $blue, $alpha: 0.16);
    }

    &.badge-purple {
        color: $purple !important;
        background-color: rgba($color: $purple, $alpha: 0.16);
    }

    &.badge-black {
        color: $neutral-100 !important;
        background-color: $neutral-900;
    }

    &.badge-grey {
        color: $neutral-600 !important;
        background-color: $neutral-200;
    }
}