@use '../../../utilities/admin/colors' as *;
@use 'sass:color';

.form-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    & > .form-label {
        font-size: 14px;
    }

    & > .form-input, & > .form-select {
        font-size: 14px;
        border: 1px solid $neutral-200;
        border-radius: 6px;
        padding: 6px 12px;
        line-height: 24px;
        transition: border 200ms cubic-bezier(0, 0, 0.2, 1);
        
        &:focus {
            border-color: $black;
        }

        &:hover {
            border-color: $black;
        }
    }

    & > .error-message {
        margin-top: -6px;
        color: $red;
        font-size: 14px;
        margin-bottom: 2px;
    }
}